<div class="container mb-5">
    <div class="row">
        <div class="col-xs-12">
            <h3>Test bootstrap </h3>
            <hr>
            <app-servers></app-servers> 
            <div app-servers ></div>
            <div class="app-servers" ></div> 
            <hr> 
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            <hr>
            <h2>From 36 : Assignment Solution</h2>
            <label>User name</label>
            <div class="mb-5">
                <input type="text" class="form-control mb-2" [(ngModel)]="username">
                <p>{{username}}</p>
                <button 
                    class="btn btn-primary" 
                    [disabled]="username === ''"  
                    (click)="username = ''"  
                > 
                    Reset User
                </button>
                <img src="" alt="">
            </div> 

             <!-- 39: Enhancing nglf with an Else Condition -->
            <app-unit-thirty-nine></app-unit-thirty-nine>
            <!-- 40: Styling Elements Dynamically with ngStyle -->
            <h2> 40: Styling Elements Dynamically with ngStyle</h2>
            <app-unit-forty></app-unit-forty>
            <app-unit-forty></app-unit-forty>
            <h2> 41: Applying CSS Classes Dynamically with ngClass</h2>
            <app-unit-forty-one></app-unit-forty-one>
            <app-unit-forty-one></app-unit-forty-one>
            <h2> 42: Outputting Lists with ngFor</h2>
            <app-unit-forty-two></app-unit-forty-two>
            <h2> 43: [OPTIONAL] Assignment Solution </h2>
            <app-unit-forty-three></app-unit-forty-three>
            <h2> 44: Getting the Index when using ngFor</h2>
            <app-unit-forty-four></app-unit-forty-four>
            <br><br>
        </div>
    </div>
</div>

